body{
	margin: auto;	
	background-image:url(../img/p.jpg);
}
.global{
	width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.entete{
	height: 200px;
	width: 99%;
	background-color:;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.entete img{
	height: 175px;
	object-fit: cover;
	border: 2px black solid;
}
.Navigation{
	height: 100px;
	width: 99%;
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.nom{
	color: white;
	font-family: sans-serif;
}
h1 span{
	color:red;
}
nav{
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center;
 	background-image:url(../img/derrier.png);
 	width: 100%;
 	text-decoration: none;
 	border-radius: 30px;

 }
nav ul{
 	display: flex;
 	justify-content: space-between;
 	list-style: none;
 	margin-left: 10%;

 }
 nav ul li {
 	padding: 20px;
 	font-size: 18px;
 	margin-right: 10px;
 }
 nav ul li a {
 	text-decoration: none;
 	color: white;	
 }
 button{
 	border: none;
 	background-color: #ea1538;
 	font-weight: bold;
 	border-radius:20px;
 	color: white;
 	font-size: 15px;
 	padding: 10px 20px;
 	transition: 0.4s;
 }
 button:hover{
 	transform: scale(1.10);
 	cursor: pointer;
 }
 input{
 	border-radius: 10px;
 	padding: 10px 10px;
 	border-radius: 20px;
 }
 .midpage{
 	width: 99%;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	
 }
#haut{
	height: 520px;
	width: 98%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#container1{
border:3px black solid;
width: 709px;
overflow: hidden;	
}

.gauche{
display: flex;
height: 500px;
animation-duration: 20s;
animation-name: mesImages;
animation-iteration-count: infinite;	
}
@keyframes mesImages{
	0%{
		transform: translateX(0);
	}
	20%{
		transform: translateX(-709px);
	}
	40%{
		transform: translateX(-1418px);
	}
	60%{
		transform: translateX(-2121px);
	}
	80%{
		transform: translateX(-2830px);
	}
	100%{
		transform: translateX(0);
	}
}

#container2{
border:3px black solid;
width: 709px;
overflow: hidden;

}

.droite{
height: 500px;
display: flex;
animation-duration:20s;
animation-name: mesImages2;
animation-iteration-count: infinite;
	
}
@keyframes mesImages2{
	0%{
		transform: translateX(0);
	}
	20%{
		transform: translateX(-709px);
	}
	40%{
		transform: translateX(-1418px);
	}
	60%{
		transform: translateX(-2121px);
	}
	80%{
		transform: translateX(-2830px);
	}
	100%{
		transform: translateX(0);
	}
}

#bas{
width: 98%;
margin-top: 20px;
display: flex;	
justify-content: space-between;

}
.left{
	height:1000px;
	width: 32.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.centre{
	height:1000px;
	width: 32.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.right{
	height:1000px;
	width: 32.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.photo{
	height: 490px;
	width: 100%;
	border: 3px black solid;
}
.photo img{
	height: 490px;
	width: 100%;
}
.photo1{
	height: 490px;
	width: 100%;
	border: 3px black solid;
}
.photo1 img{
	height: 490px;
	width: 100%;
	object-fit: cover;

}

.pied{
	border: 4px #24262b solid;
	height: 200px;
	width: 99%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-evenly;
	background-color: #24262b;
	align-items: center;
}
span li{
font-size: 20px;
margin-bottom:5px;	
}
.pied ul li a{
padding-bottom: 2px;
text-decoration: none;
color: #bbbbbb;	
transition: all 0.3s ease;

}
.pied ul li a:hover{
color:white;
padding-left: 10px;	

}
.pied ul li{
list-style: none;
color: #bbbbbb;
}



