

body{
	margin: auto;	
	background-image:url(../img/p.jpg);
}


.entete{
	height: 200px;
	width: 99%;
	background-color:;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.entete img{
	height: 175px;
	object-fit: cover;
	border: 2px black solid;
}
.Navigation{
	height: 100px;
	width: 99%;
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.nom{
	color: white;
	font-family: sans-serif;
}
h1 span{
	color:red;
	
}
nav{
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center;
 	background-image:url(../img/derrier.png);
 	width: 100%;
 	text-decoration: none;
 	border-radius: 30px;

 }
nav ul{
 	display: flex;
 	justify-content: space-between;
 	list-style: none;
 	margin-left: 10%;

 }
 nav ul li {
 	padding: 20px;
 	font-size: 18px;
 	margin-right: 10px;
 }
 nav ul li a {
 	text-decoration: none;
 	color: white;	
 }
 nav button{
 	border: none;
 	background-color: #ea1538;
 	font-weight: bold;
 	border-radius:20px;
 	color: white;
 	font-size: 15px;
 	padding: 10px 20px;
 	transition: 0.4s;
 }
 nav button:hover{
 	transform: scale(1.10);
 	cursor: pointer;
 }
 nav input{
 	border-radius: 10px;
 	padding: 10px 10px;
 	border-radius: 20px;
 }
 
 .pied{
	border: 4px #24262b solid;
	height: 200px;
	width: 99%;
	background-color: ;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	display: flex;
	justify-content: space-evenly;
	background-color: #24262b;
	align-items: center;
}
span li{
font-size: 20px;
margin-bottom:5px;	
}
.pied ul li a{
padding-bottom: 2px;
text-decoration: none;
color: #bbbbbb;	
transition: all 0.3s ease;

}
.pied ul li a:hover{
color:white;
padding-left: 10px;	

}
.pied ul li{
list-style: none;
color: #bbbbbb;
}

.titre{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
	height: 650px;
	width: 30%;
	border: 4px black solid;
}

 h1{
text-align: center;

}

.form-control{
	border: 1px black solid;
	height: 20px;
	width: 85%;
	margin-bottom: 10px;
	padding-bottom: 20px;
	margin-left: 20px;
	padding-top: 5px;
}
.form-control5{	
height: 40px;
width: 85%;	
margin-left: 20px;
display: flex;
justify-content: space-arounds;
align-items: center;

}
.form-control5 button{	
height: 30px;
width: 40%;	
background-color: rgb(63, 165, 63);
font-size: 20px;
margin-left: 15px;
transition: 0.4s;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 15px;
}

.form-control5 button:hover{
	transform: scale(1.10);
	cursor: pointer;
}
.form-control5 input{	
height: 30px;
width: 30%;	
background-color: red;
font-size: 20px;
margin-left: 10px;
transition: 0.4s;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 15px;
margin-left: 45px;

}
.form-control5 input:hover{
	transform: scale(1.10);
	cursor: pointer;
}

.bloc{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}	
